*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url('/public/background.jpeg'); */
    background: linear-gradient(to right, #434343, #000000);
    background-size: cover;
}
nav{
    width: 100vw;
    height: 7vh;
    color: white;
    background-color: orange;
}
form{
    width: 45vw;
    height: auto;
gap: 3px;
    border: 2px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
 padding: 5px;
    align-self: center;
    color: white;
}
li{
    margin: 7px;
    padding: 5px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
 form .field{
    width: 40vw;
    height: 5vh;
}
button{
    background-color: rgb(0, 162, 255);
    color: white;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 5px;
    border: 2px rgb(0, 162, 255) solid;
}
.container{
    width: 60vw;
    height: auto;
    padding: 5px;
}
#title{
    font-size: 300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#welcome{
    display: flex;
align-self: center;
justify-self: center;
    justify-content: center;
    align-items: center;
    color: white;
}
.card{
    width: 20vw;
    height: 30vh;
    border: 2px solid grey;
    background-color: white;
    padding: 7px;
    color: black;
    border-radius: 5px 25px 5px 25px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 7px;
}
.cardTitle{
    color: darkred;
}
.recCard{
    width: 15vw;
    height: auto;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 15px;
    color: white;
    margin: 8px;
}
.recCardContainer{
    display: flex;
    flex-direction: column;
}
